<div class="post-tags{% if url != post.url %}-home{% endif %}">
  {% for tag in include.post.tags %}
    <div class="tags-div{% if url != post.url %}-home{% endif %} {{ tag }}-tag">

      {% comment %}
        Check if this tag has a corresponding page before decide
        to link to it. This is an O(n^2) operations so consider removing
        it and linking for all categories (or no categories) if this
        site has a lot of pages and/or a lot of categories.
      {% endcomment %}
      {% assign tage_page = false %}
      {% for node in site.pages %}
        {% if node.tag == tag or node.title == tag %}
          {% assign tag_page = node %}
        {% endif %}
      {% endfor %}

      {% if tag_page %}
        <a href="{{ tag_page.url | relative_url }}">
          {{ tag_page.title | default: tag_page.tag }}
        </a>
      {% else %}
        {{ tag }}
      {% endif %}
    </div>
  {% endfor %}
</div>