.post {
    border: 2px solid black;
    border-radius: 1rem;
    margin-bottom: 4rem;
}

.article {
    padding: 1rem;
}

.post-meta {
    color: $body-muted;
}

.post-date {
    padding-top: 1rem;
}