.post {
  border: 2px solid black;
  border-radius: 1rem;
  margin-bottom: 4rem;
}

.article {
  padding: 1.5rem;
}

.post-title {
  margin-bottom: 0;
  padding-bottom: 1.5rem;
}

.excerpt {
  text-align: justify;
}

.author-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.author,
.post-date {
  color: $body-muted;
}
