/* Largest screens */

@media (min-width: 2440px) {
  .team {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    column-gap: 5rem;
    max-width: 100%;
  }

  .cat-meow {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 2 / 2;
  }

  .scott {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 2 / 3;
  }

  .scott-2 {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 3 / 2 / 4;
  }

  .scott-3 {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 4 / 2 / 5;
  }

  .scott-4 {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 5 / 2 / 6;
  }

  .scott-5 {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 6 / 2 / 7;
  }

  .picture-icons {
    flex-direction: column;
    align-items: left;
  }

  .profile-infos {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

/* Larger screens */

@media (min-width: 2100px) and (max-width: 2439px) {
  .team {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    column-gap: 5rem;
    max-width: 100%;
  }

  .cat-meow {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 2 / 2;
  }

  .scott {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 2 / 3;
  }

  .scott-2 {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 3 / 2 / 4;
  }

  .scott-3 {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 4 / 2 / 5;
  }

  .scott-4 {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 5 / 2 / 6;
  }

  .picture-icons {
    flex-direction: column;
    align-items: left;
  }

  .profile-infos {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

/* Large screens */

@media (min-width: 1760px) and (max-width: 2099px) {
  .team {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    column-gap: 5rem;
    max-width: 100%;
  }

  .cat-meow {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 2 / 2;
  }

  .scott {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 2 / 3;
  }

  .scott-2 {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 3 / 2 / 4;
  }

  .scott-3 {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 4 / 2 / 5;
  }

  .picture-icons {
    flex-direction: column;
    align-items: left;
  }

  .profile-infos {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

/* Medium screens */

@media (min-width: 1420px) and (max-width: 1759px) {
  .team {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    column-gap: 5rem;
    max-width: 100%;
  }

  .cat-meow {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 2 / 2;
  }

  .scott {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 2 / 3;
  }

  .scott-2 {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 3 / 2 / 4;
  }

  .scott-3 {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / 3 / 2;
  }

  .picture-icons {
    flex-direction: column;
    align-items: left;
  }

  .profile-infos {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

/* Small screens (and landscape on some tablets) */

@media (min-width: 1080px) and (max-width: 1419px) {
  .team {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    column-gap: 5rem;
    max-width: 100%;
  }

  .cat-meow {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 2 / 2;
  }

  .scott {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 2 / 3;
  }

  .scott-2 {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / 3 / 2;
  }

  .scott-3 {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 2 / 3 / 3;
  }

  .picture-icons {
    flex-direction: column;
    align-items: left;
  }

  .profile-infos {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

/* Mobile and tablets */

@media (max-width: 1079px) {
  .team {
    display: flex;
    flex-direction: column;
  }

  .cat-meow,
  .scott,
  .scott-2,
  .scott-3 {
    display: flex;
    flex-direction: column;
  }

  .picture-icons {
    flex-direction: row;
    align-items: center;
  }

  .profile-infos {
    margin-left: 1.5rem;
  }

  .social-icons {
    flex-direction: row;
  }
}

/* General */

.team {
  padding-top: 1.2rem;
}

.cat-meow,
.scott,
.scott-2,
.scott-3 {
  display: flex;
  align-items: flex-start;
  padding-bottom: 3rem;
}

.picture-icons {
  display: flex;
}

.profile-picture {
  width: 7rem;
  border-radius: 50%;
  margin-bottom: 0;
}

.profile-infos {
  display: flex;
  flex-direction: column;
}

.name {
  color: black;
  font-size: 24px;
}

.occupation {
  font-size: 16px;
}

.social-icons {
  display: flex;
  justify-content: left;
  width: 100%;
}

.social-icon {
  font-size: 25px;
  margin-top: 0.5rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
}

.social-icon {
  color: black;
  cursor: pointer;
}

.social-icon:hover {
  color: $red;
}

.description {
  font-size: 16px;
  text-align: justify;
  padding-top: 1.5rem;
}
