// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.posts-by-tag h2 {
  text-transform: capitalize;
}

// Blog post or page title
.page-title,
.post-title {
  margin-top: 0;
}

.page-title,
.post-title,
.post-title a {
  color: $heading-color;
}

h2.post-title,
h2.page-title {
  font-size: 1.5rem;
}

.post-tags a {
  font-size: 0.8em;
  margin-right: 0.5rem;
  opacity: 0.75;
  white-space: nowrap;

  .tag-name {
    text-transform: capitalize;
  }

  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.posts-list {
  list-style: none;
  padding-left: 0;

  h3 {
    margin-top: 0;
  }

  li small {
    color: #999;
    font-size: 75%;
    white-space: nowrap;
  }

  li a:hover {
    color: $link-color;
    text-decoration: none;
  }

  li a:hover small {
    color: inherit;
  }
}

article + *,
.post-body ~ section {
  > h2:first-child,
  > h3:first-child {
    margin-top: 0;
  }
}

// Meta data line below post title

.post,
.page {
  .content li + li {
    margin-top: 0.25rem;
  }
}

button.disqus-load {
  margin-top: 1em;
}

// Our customization

.post-content {
  background: $body-bg;
  color: $body-color;
  padding: 0 2rem 2rem;

  @media (min-width: 783px) {
    max-width: 38rem;
    padding: 0;
  }
}

.author-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 2.5rem;
}

.post-categories,
.post-tags {
  display: flex;
  flex-wrap: wrap;
}

.categories,
.tags-div {
  padding: 0 0.5rem 0;
  margin: 0.5rem 1rem 0.5rem 0;
  border-radius: 1rem;
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
  color: #a8a29e;
  background-color: #e7e5e4;
}

.tags-share {
  display: flex;
  justify-content: space-between;
  padding: 2.25rem 0;
}

.share {
  min-width: 11rem;

  @media (min-width: 820px) {
    min-width: 9rem;
  }
}