{% comment %}
  The code below dynamically generates a sidebar nav of pages with
  `sidebar_link: true` in the front-matter. See readme for usage.
{% endcomment %}
{% assign pages_list = site.pages|sort:"order" %}
{% for node in pages_list %}
  {% if node.title == "Projects" %}
    {% if node.url == "/projects/index.html" %}
      <a class="page-link{% if page.layout == node.layout or page.layout == 'project' %} active{% endif %}"
          href="{{ node.layout | relative_url }}">{{ node.title }}</a>
  {% endif %}
  {% endif %}
  {% if node.title == "Members" %}
    {% if node.sidebar_link %}
      <a class="page-link{% if page.layout == node.layout %} active{% endif %}"
          href="{{ node.layout | relative_url }}">{{ node.title }}</a>
    {% endif %}
  {% endif %}
{% endfor %}
