---
layout: default
---

<header>
  <h1 class="post-title post-page-title">{{ page.title }}</h1>
</header>
<div class="post-content">
  <div class="author-date">
    <a class="author pointer" href="/members/"> {{ page.author }} </a>
    {% include post-date.html post=page %}
  </div>

  <div class="post-body">{{ content }}</div>

  <div class="tags-share">
    {% if page.tags.size != 0 %} {% include post-tags.html post=page %} {% endif
    %}
    <div class="sharethis-inline-share-buttons share"></div>
  </div>
</div>
