---
layout: default
---

{% if paginator.page == 1 %}
<hr class="hr-mobile" />
{% endif %}

<div class="content">
  {{ content }} {% include pagination-newer.html %} {% for post in
  paginator.posts %}
  <div
    class="post-home{% if paginator.page == 1 and forloop.first == true %} first{% endif %}{% if forloop.first != true %} not-first{% endif %}"
  >
    <article class="article{% if forloop.first != true %} not-first{% endif %}">
      <div
        class="pointer"
        onclick="location.href='{{ post.url | relative_url }}'"
      >
        <h2 class="post-title post-title-home">{{ post.title }}</h2>

        <div class="excerpt">{{ post.excerpt }}</div>
      </div>

      <div class="author-date">
        <a class="author pointer" href="/members/"> {{ post.author }} </a>
        {% include post-date.html post=post %}
      </div>
    </article>

    {% if post.tags.size != 0 %} {% include post-tags.html post=post %} {% else
    post.tags.size == 0 %}
    <div class="space{% if forloop.last == true %}-last{% endif %}"></div>
    {% endif %}
  </div>
  {% endfor %} {% include pagination-older.html %}
</div>
