---
layout: default
---

<header>
  {% include back-link.html %}
  <h1 class="page-title">{{ page.title }}</h1>
</header>
<div>{{ content }}</div>

<div class="team">
    <div class="cat-meow">
        <div class="picture-icons">
            <img class="profile-picture" src="https://i.ibb.co/PcXdB47/cat.jpg" alt="cat">
            <div class="profile-infos">
                <span class="name">Ludovic Delafontaine</span>
                <span class="occupation">Collaborateur Ra&D HES</span>
                <div class="social-icons">
                    <div>
                        <i class="fa-solid fa-envelope social-icon"></i>
                    </div>
                    <div>
                        <i class="fa-brands fa-github social-icon"></i>
                    </div>
                    <div>
                        <i class="fa-brands fa-linkedin social-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <span class="description">Ludovic Delafontaine is considered as one of the best in his field, the practice of couch scratching. Practicing it since his early childhood, he was able to acquire years of experience, multiplied by his seven lives as a cat. His biggest hobby is sleeping, like most of his compatriots. If you had a bad day, he will always be there to bring you love.</span>
    </div>
    <div class="scott">
        <div class="picture-icons">
            <img class="profile-picture" src="https://i.ibb.co/QcprQ1W/243170-1200x773-scottish-fold-cat-copie.jpg" alt="scottish-fold">
            <div class="profile-infos">
                <span class="name">Dr Scott Ishfold</span>
                <span class="occupation">Cuddler</span>
                <div class="social-icons">
                    <div>
                        <i class="fa-solid fa-envelope social-icon"></i>
                    </div>
                    <div>
                        <i class="fa-brands fa-github social-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sem mauris, suscipit eget dictum sit amet, rhoncus nec ex. Vestibulum porta volutpat metus, sit amet mollis mi. Aliquam hendrerit dui tellus, rutrum ullamcorper massa lacinia at. Vestibulum consectetur sed purus non accumsan.</span>
    </div>
    <div class="scott-2">
        <div class="picture-icons">
            <img class="profile-picture" src="https://i.ibb.co/QcprQ1W/243170-1200x773-scottish-fold-cat-copie.jpg" alt="scottish-fold">
            <div class="profile-infos">
                <span class="name">Dr Scott Ishfold</span>
                <span class="occupation">Cuddler</span>
                <div class="social-icons">
                    <div>
                        <i class="fa-solid fa-envelope social-icon"></i>
                    </div>
                    <div>
                        <i class="fa-brands fa-github social-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sem mauris, suscipit eget dictum sit amet, rhoncus nec ex. Vestibulum porta volutpat metus, sit amet mollis mi. Aliquam hendrerit dui tellus, rutrum ullamcorper massa lacinia at. Vestibulum consectetur sed purus non accumsan.</span>
    </div>
    <div class="scott-3">
        <div class="picture-icons">
            <img class="profile-picture" src="https://i.ibb.co/QcprQ1W/243170-1200x773-scottish-fold-cat-copie.jpg" alt="scottish-fold">
            <div class="profile-infos">
                <span class="name">Dr Scott Ishfold</span>
                <span class="occupation">Cuddler</span>
                <div class="social-icons">
                    <div>
                        <i class="fa-solid fa-envelope social-icon"></i>
                    </div>
                    <div>
                        <i class="fa-brands fa-github social-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sem mauris, suscipit eget dictum sit amet, rhoncus nec ex. Vestibulum porta volutpat metus, sit amet mollis mi. Aliquam hendrerit dui tellus, rutrum ullamcorper massa lacinia at. Vestibulum consectetur sed purus non accumsan.</span>
    </div>
    <div class="scott-4">
        <div class="picture-icons">
            <img class="profile-picture" src="https://i.ibb.co/QcprQ1W/243170-1200x773-scottish-fold-cat-copie.jpg" alt="scottish-fold">
            <div class="profile-infos">
                <span class="name">Dr Scott Ishfold</span>
                <span class="occupation">Cuddler</span>
                <div class="social-icons">
                    <div>
                        <i class="fa-solid fa-envelope social-icon"></i>
                    </div>
                    <div>
                        <i class="fa-brands fa-github social-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sem mauris, suscipit eget dictum sit amet, rhoncus nec ex. Vestibulum porta volutpat metus, sit amet mollis mi. Aliquam hendrerit dui tellus, rutrum ullamcorper massa lacinia at. Vestibulum consectetur sed purus non accumsan.</span>
    </div>
    <div class="scott-5">
        <div class="picture-icons">
            <img class="profile-picture" src="https://i.ibb.co/QcprQ1W/243170-1200x773-scottish-fold-cat-copie.jpg" alt="scottish-fold">
            <div class="profile-infos">
                <span class="name">Dr Scott Ishfold</span>
                <span class="occupation">Cuddler</span>
                <div class="social-icons">
                    <div>
                        <i class="fa-solid fa-envelope social-icon"></i>
                    </div>
                    <div>
                        <i class="fa-brands fa-github social-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sem mauris, suscipit eget dictum sit amet, rhoncus nec ex. Vestibulum porta volutpat metus, sit amet mollis mi. Aliquam hendrerit dui tellus, rutrum ullamcorper massa lacinia at. Vestibulum consectetur sed purus non accumsan.</span>
    </div>
</div>

    {% include back-link.html %}