---
layout: default
---

<header>
  <h1 class="page-title">{{ page.title }}</h1>
</header>

<div class="team content">
  {% for member in site.data.members %}
  <div class="member">
    <div class="img-name-occupation-icons">
      <img
        class="member-img"
        src={{ member.img }}
        alt={{ member.name }}
      />
      <div class="name-occupation-icons">
        <span class="name">{{ member.name }}</span>
        <span class="occupation">{{ member.occupation }}</span>
        <div class="social-icons">
          <div>
            <a href="mailto:{{ member.mail }}"><i class="fa-solid fa-envelope social-icon"></i></a>
          </div>
          {% if member.github %}
          <div>
            <a href={{ member.github }} target="_blank"><i class="fa-brands fa-github social-icon"></i></a>
          </div>
          {% endif %}
          {% if member.gitlab %}
          <div>
            <a href={{ member.gitlab }} target="_blank"><i class="fa-brands fa-gitlab social-icon"></i></i></a>
          </div>
          {% endif %}
          {% if member.linkedin %}
          <div>
            <a href={{ member.linkedin }} target="_blank"><i class="fa-brands fa-linkedin social-icon"></i></a>
          </div>
          {% endif %}
          {% if member.site_web %}
          <div>
            <a href={{ member.site_web }} target="_blank"><i class="fa-solid fa-link social-icon"></i></a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <span class="description">{{ member.description }}</span>
  </div>
  {% endfor %}
</div>

