---
layout: default
---

<header>
  <h1 class="project-page-title">{{ page.title }}</h1>
  <a class="contributors" href="/members/">{{ page.contributors }}</a>
</header>

<div class="content project-page-content">
  <div class="client-date">
    <span class="client"> {{ page.client }} </span>
    {% include project-date.html project=page %}
  </div>

  {% if page.img %}<img
    class="project-picture"
    src="{{ page.img }}"
    alt="{{ page.title }}"
  />{% endif %}

  <div class="project-body">{{ content }}</div>
</div>
